{% extends 'mainapp/home.html' %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'mainapp/css/style-about.css' %}">
{% endblock %}
{% block main %}
	<main class="main-page">
		<div class="container">
		<h1 class="heading">Обо мне <span>гениальной</span></h1>
		</div>
	</main>
{% endblock main %}
{% block content %}
	<section class="about-me">
		<div class="container-about">
			<div class="about-grid-1">
				<div class="about-title"><h2>
				Привет! Я Оля Бурдюк</h2></div>
				<div class="about-text-1"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nesciunt, pariatur maiores ipsam consectetur excepturi iusto nobis libero vitae quibusdam laborum optio consequuntur fuga laudantium enim, nulla illum voluptatibus nisi?</p></div>
				<div class="about-photo-1"><img src="{% static 'mainapp/images/about-1.jpg' %}" alt=""></div>
				<div class="about-photo-2"><img src="{% static 'mainapp/images/about-2.jpg' %}" alt=""></div>
			</div>
			<div class="about-grid-2">
				<div class="about-photo-3"><img src="{% static 'mainapp/images/about-3.jpg' %}" alt=""></div>
				<div class="about-text-2"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda sequi quidem, ea fugit, qui, impedit sit sed, sunt pariatur ab esse et minus. Explicabo facilis eum facere soluta dolorem suscipit!</p>
				<p> Voluptatem impedit, praesentium. Molestias dolores consectetur dolor eos, fuga quasi dicta distinctio at.</p></div>
				<div class="about-photo-4"><img src="{% static 'mainapp/images/about-4.jpg' %}" alt=""></div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block content2 %}
{% endblock content2 %}