<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/login-style.css' %}">
	<title>Вход</title>
	<style>
	.form-error{color:red;}
	#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
    </style>
</head>
<body>


	<section class="login">

			<div class="login-flex">
				<div class="title">
					<h2><span class="red">Заходи </span> ко мне</h2>
				</div>
				<div class="log-forms">
					<form class="login-form" action="" method="post">
    					{% csrf_token %}
				<table class="conds">
						<tr>
							<td>Имя</td>
							<td class="td-right">{{ form.username }}</td>
						</tr>
						<tr>
							<td>Почта</td>
							<td class="td-right">{{ form.email }}</td>
						</tr>
						<tr>
							<td>Пароль</td>
							<td class="td-right">{{ form.password }}</td>
						</tr>
				</table>
					<div class="price-link"><button type="submit">Войти</button></div>
					</form>
				</div>
					<div class="form-error">{{ form.non_field_errors }}</div>
				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
				<div class="back red"><a href="{% url 'home' %}">< Назад</a></div>
				<div class="qwest">
					<span class="qw">Ещё не зарегистрировались?</span>
					<span class="red qw-link"><a href="{% url 'register_page' %}">Регистрация</a></span>
				</div>
				<div class="forgot"><a href="{% url 'reset_password' %}">Забыли пароль?</a></div>
			</div>

	</section>
</body>
</html>