<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/login-style.css' %}">
	<title>Регистрация</title>
	<style>
	.form-error{color:red;}
    </style>
</head>
<body>


	<section class="login">

			<div class="login-flex">
				<div class="title">
					<h2><span class="red">Создать</span> аккаунт</h2>
				</div>
				<div class="log-forms">
					<form class="login-form" action="{% url 'registration' %}" method="post">
    					{% csrf_token %}
				<table class="conds">
					<tr>
							<td>Имя</td>
							<td class="td-right">{{ form.first_name }}</td>
						</tr>
					<tr>
							<td>Фамилия</td>
							<td class="td-right">{{ form.last_name }}</td>
						</tr>
						<tr>
							<td>Имя пользователя</td>
							<td class="td-right">{{ form.username }}</td>
						</tr>
						<tr>
							<td>Почта</td>
							<td class="td-right">{{ form.email }}</td>
						</tr>
						<tr>
							<td>Пароль</td>
							<td class="td-right">{{ form.password1 }}</td>
						</tr>
					<tr>
							<td>Подтверждение пароля</td>
							<td class="td-right">{{ form.password2 }}</td>
						</tr>
				</table>
							<div class="form-error">{{ form.errors }}</div>
<!--						<div class="form-error">{{ form.non_field_errors }}</div>-->
<!--						<div class="form-error">{{ form.username.errors }}</div>-->
<!--						<div class="form-error">{{ form.password.errors }}</div>-->
<!--						<div class="form-error">{{ form.email.errors }}</div>-->

				<div class="price-link"><button class="port" type="submit">Создать аккаунт</button></div>
					</form>
				</div>

				<div class="back red"><a href="{% url 'home' %}">< На главную</a></div>
				<div class="qwest">
					<span class="qw">Уже есть аккаунт?</span>
					<span class="red qw-link"><a href="{% url 'login' %}">Авторизоваться</a></span>
				</div>
				<div class="forgot"><a href="#">Забыли пароль?</a></div>
			</div>

	</section>
</body>
</html>